@charset "utf-8";
/* CSS Document */


#main {
width: 940px;
margin: 0 auto;
padding-top: 30px;
background: #FFF url(images/colbg.png) repeat-y;
overflow: hidden;
}

#content {
float: right;
width: 640px;
margin-right: 30px;
}

#sidebar {
float: left;
padding-left: 20px;
width: 220px;
}

