@charset "utf-8";
/* CSS Document */
* {
margin: 0;
padding: 0;
}




#principal {
width: 940px;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
border: 3px solid #888;
background: #fff;
/* curved border radius */
-webkit-border-radius: 5px 10px; /* Safari */
border-radius: 20px; 
-moz-border-radius: 20px; /* Firefox */

}

nav {
width: 940px;
height: 50px;
margin: 0 auto;
background: #666;
}

#main {
width: 940px;
margin: 0 auto;
padding-top: 30px;
background: #FFF url(images/colbg.png) repeat-y;
overflow: hidden;
}

#content {
float: right;
width: 640px;
margin-right: 30px;
}

#sidebar {
float: left;
padding-left: 20px;
width: 220px;
}

/*Combinacion de selectores multiples*/
h1,h2,h3,h4,h5,h6 { 
font-weight: bold;
clear: both;
color: #333;
}

a:link, a:visited {
color:#004C9A;
}

a:hover, a:active {
color: #333;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}

/* nav */


/*Fin de nav*/

/** HEADER */


.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 10px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 10px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

aside h3 {
font-size: 18px;
}

aside ul {
list-style: square;
color: #bbb;
margin: -15px 0 15px 25px;
}


div.lefnav {
	border:none;
	background:#44504f;
	padding:1px 1px 0 1px;
	width:200px;
}
div.lefnav a {
	display:block;
	height:25px;
	font:12px/25px Tahoma, Arial, Helvetica, sans-serif;
	background:#a7b0af;
	color:#2a302f;
	text-decoration:none;
	padding-left:10px;
	border-bottom:solid 1px #44504f;
}
div.lefnav a:hover, div.lefnav a:visited, div.lefnav a.active {
	background:#44504f;
	border-bottom:solid 1px #a7b0af;
	color:#FFFFFF;
}

